.bookshelfActive {
    display: block;
    min-width: 110px !important;
    padding: 75px 0 0 0;
    background-image: url('/nav/bookshelf.png'), url('/nav/active-shadow.png');
    background-repeat: no-repeat, no-repeat;
    background-size: auto 44px, 30px auto;
    background-position: 50% 0px, 50% 55px;
    color: #962006 !important;
    }

.bookshelf p {
    font-size: 1.15em;
}

.bookshelf h2 {
    scroll-margin-top: 2.5em;
}

.bookshelf p.dropCapP:first-letter {
    font: 400 normal 3.4em/0.7em 'Capitaine', serif;
    float: left;
    margin: 0.1em 0.1em 0.1em 0;
  }

.books {
    margin: 2em 0 0 -30px;
}

.book {
    padding: 2em 1.5em 1em;
    text-align: center;
    outline: 1px solid rgba(255,255,255,1);
    font: 400 normal 0.8em/1.1em 'Capitaine', serif;
    background: rgba(255,255,255,0.7);
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, .01);
}

    .book p {
        text-align: left;
    }

.bookTitle {
    margin: 1em 0 0.25em;
    font-size: 1.4em;
    line-height: 1.6em;
}

p.bookAuthor {
    margin: 0 0 0.5em;
    color: rgba(0,0,0,0.5);
    font-size: 1.4em;
    text-align: center;
}

.book img {
    width: 50%;
    border-radius: 5px;
    transition: all 0.3s;
}

.book img:hover {
    box-shadow: 0px 10px 10px 8px rgba(0, 0, 0, .01);
    transform: translateY(-3px);
}