.bookshelfActive {
    display: block;
    /* min-width: 110px !important; Re-enable with 6-button */
    min-width: 100px !important;
    padding: 75px 0 0 0;
    background-image: url('/nav/bookshelf.png'), url('/nav/active-shadow.png');
    background-repeat: no-repeat, no-repeat;
    background-size: auto 44px, 30px auto;
    background-position: 50% 0px, 50% 55px;
    color: #962006 !important;
    }

.bookshelfHeadline {
    margin: 0.75em 0;
}

.introduction {
    margin: 0 0 40px;
}

    .introPara p {
        font-size: 1em;
    }

.portrait {
    margin: 2em 0 0.5em 0;
    display: block;
    width: 100%;
    height: 120vw;
    background: url('/jennybook.jpg') no-repeat;
    /* background: url('/jenny-working.jpg') no-repeat; */
    background-size: cover;
    background-position: center center;
    border-radius: 15px;
    border: 1px solid rgba(255,255,255,1);
}

.shelfTabs {
    width: calc(100%+50px);
    margin: 0.5em -25px 0;
    overflow-x: scroll;
    position: sticky;
    top: -4px;
    display: flex;
    align-items: center;
    height: 4em;
    padding: 0 0;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    z-index: 100;
  }
  
      .shelfTabs::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
      }
  

    .shelfTabs a {
        margin: 0 0 0 0;
        display: inline-block;
        width: auto;
        white-space: nowrap;
        padding: 0.75em 1em 1em;
        height: 1em;
        font: 400 normal 1.3em/1.3em 'Capitaine', serif;
        color: #2c2c2c;
        text-decoration: none;
        background: #fbfaf9;
        border: 1px solid #dcdcdc;
        border-right: none;
        transition: all 0.3s;
    }

    .shelfTabs a:first-child {
        border-left: none;
        padding: 0.75em 1em 1em 25px;
      }
  
    .shelfTabs a:last-child {
        border-right: none;
    }

    .shelfTabs a:hover {
        background: #fff;
    }

.bookshelf p {
    font-size: 1.15em;
}

.bookshelf h1 {
    scroll-margin-top: 2.5em;
}

.bookshelf p.dropCapP:first-letter {
    font: 400 normal 3.4em/0.7em 'Capitaine', serif;
    float: left;
    margin: 0.1em 0.1em 0.1em 0;
  }

.books {
    margin: 2em 0 0 -20px;
}

.book {
    padding: 2em 1.5em 1em;
    text-align: center;
    outline: 1px solid rgba(255,255,255,1);
    font: 400 normal 0.8em/1.1em 'Capitaine', serif;
    background: rgba(255,255,255,0.7);
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, .01);
}

    .book p {
        text-align: left;
    }

.bookTitle {
    margin: 1em 0 0.25em;
    font-size: 1.4em;
    line-height: 1.6em;
}

p.bookAuthor {
    margin: 0 0 0.5em;
    color: rgba(0,0,0,0.5);
    font-size: 1.4em;
    text-align: center;
}

.book img {
    width: 50%;
    border-radius: 5px;
    transition: all 0.3s;
}

.book img:hover {
    box-shadow: 0px 10px 10px 8px rgba(0, 0, 0, .01);
    transform: translateY(-3px);
}

@media screen
    and (min-width: 768px) {

        .introduction {
            display: grid;
            grid-template-columns: 3fr 1.5fr;
            grid-auto-rows: 1fr;
            grid-column-gap: 60px;
            margin: 0 0 30px;
        }

            .introPara {
                width: 100%
            }

                .bookshelfHeadline {
                    margin: 0.4em 0 0.5em;
                }
                
                .introPara p {
                    font-size: 1.1em;
                }

        .portrait {
            float: right;
            margin: 0 0 0.5em;
            width: 100%;
            height: 44vw;
            background-position: bottom -4vw center;
        }

}

@media screen
and (min-width: 900px) {

    .portrait {
        height: 40vw;
    }

    .shelfTabs {
        width: calc(100%+4px);
        margin: 2.5em -2px 3em;
        overflow-x: visible;
    }

    .shelfTabs a {
        width: 16.67%;
        text-align: center;
    }

    .shelfTabs a:first-child {
        border-left: 1px solid #dcdcdc;
        padding: 0.75em 1em 1em;
      }
  
    .shelfTabs a:last-child {
        border-right: 1px solid #dcdcdc;
    }
    
}

@media screen
and (min-width: 960px) {

    .bookshelfHeadline {
        font-size: 3em;
    }

    .portrait {
        height: 44vw;
    }

}

@media screen
and (min-width: 1040px) {

    .portrait {
        height: 36vw;
    }

}

@media screen
and (min-width: 1140px) {

    .introduction {
        grid-column-gap: 80px;
    }

    .portrait {
        height: 380px;
        background-position: bottom -70px center;
    }

}

@media screen
and (min-width: 1600px) {

    .introduction {
        grid-template-columns: 3fr 1.75fr;
        grid-column-gap: 120px;
    }

    .bookshelfHeadline {
        font-size: 3.5em;
    }

    .portrait {
        height: 470px;
        background-position: bottom -120px center;
    }

}