.body {
    margin: auto;
    max-width: 800px;
    font-size: 1.15em;
}

.body h1 {
    margin: 0.5em 0 0;
}

p.descText {
    display: block;
    font-size: 1em;
    font-weight: 600;
    /* font-style: italic; */
    color: #6c6c6c;
    padding: 1em;
    border: 1px solid #dcdcdc;
    width: fit-content;
}

.body h6 {
    font-size: 1.1em;
    margin: 0.25em 0;
}

.body p {
    margin: 1.5em 0;
    line-height: 1.7em;
}

.writingHero {
    margin: 2em 0 0.25em;
    border-radius: 15px;
    border: 1px solid rgba(255,255,255,0.5);
    width: 100%;
}

.heroCaption {
    margin: 0.5em 0 3em;
    font: 400 normal 0.9em/1.6em 'Ivar Text', serif;
    color: #6c6c6c;
}

.caption {
    margin: 0em 0 3em;
    font: 400 normal 0.8em/1.6em 'Ivar Text', serif;
    color: #6c6c6c;
}

.heroCaption a, .caption a {
    color: #0055BA;
    font-weight: 700;
}

.otherEntries {
    margin: 70px 0 0;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 40px 0 10px;
    border-top: 1px solid rgba(0,0,0,0.15);
}

    .otherEntries a {
        color: #2c2c2c;
    }

    .nextEntry {
        width: fit-content;
        max-width: 50%;
        margin-left: auto;
        text-align: right;
        transition: all 0.3s;
    }

        .nextEntry:hover {
            transform: translateX(4px);
        }

    .prevEntry {
        width: fit-content;
        max-width: 50%;
        transition: all 0.3s;
    }

        .prevEntry:hover {
            transform: translateX(-4px);
        }

    .direction {
        display: block;
        margin: 0.2em 0 0.5em;
        font: 600 normal 0.9em/1.2em 'Capitaine', serif;
        text-transform: uppercase;
        letter-spacing: 0.02em;
        color: #9c9c9c;
    }

    .entryThumb {
        display: none;
    }

    .writingName {
        display: inline-block;
        margin: 0.5em 0 0.2em;
        font: 400 normal 1.3em/1.4em 'Capitaine', serif;
    }

    .date {
        display: block;
        color: #6c6c6c;
        font: 400 normal 1em/1.4em 'Ivar Text', serif;
    }


@media screen
and (min-width: 540px) {
    
    .body h1 {
        font-size: 2.7em;
    }
}

@media screen
    and (min-width: 768px) {

        .writingHero {
            border-radius: 20px;
        }

        .body h1 {
            font-size: 2.8em;
        }

        .entryInfo {
            display: flex;
            gap: 20px;
        }

        .entryText {
            max-width: 360px;
        }

        .entryThumb {
            display: block;
            margin: 0.5em 0 0;
            border-radius: 8px;
        }

        .writingName {
            font-size: 1.4em;
        }

}

@media screen
and (min-width: 960px) {

    .heroCaption {
        text-align: center;
    }

}

@media screen
and (min-width: 1200px) {

    .writingHero {
        border-radius: 30px;
    }

    .body h1 {
        font-size: 3em;
    }

    .writingName {
        font-size: 1.5em;
    }
}

@media screen
    and (min-width: 1600px) {

        .body {
            max-width: 1000px;
        }
  
        .body h1 {
            font-size: 3.3em;
        }
  
}