.hero {
    display: block;
    position: relative;
    margin: 2em 0 1.5em;
    width: 100%;
    padding-bottom: 60%;
    border-radius: 15px;
    background: #000;
    overflow: hidden;
    border: 1px solid rgba(255,255,255,1);
}

.roleBreakdown {
  display: block;
  margin: 1.5em auto;
  width: 80%;
}

h5.metricStat {
  font-size: 1.3em !important;
}

@media screen
and (min-width: 540px) {
    
  .roleBreakdown {
    width: 80% !important;
  }

}

@media screen
  and (min-width: 960px) {

    .roleBreakdown {
      width: 100% !important;
    }    

}

@media screen
and (min-width: 1200px) {

}
