.guestbookActive {
    display: block;
    margin: 0 0.75em 0 !important;
    padding: 75px 0 0 0;
    background-image: url('/nav/guestbook.png'), url('/nav/active-shadow.png');
    background-repeat: no-repeat, no-repeat;
    background-size: auto 32px, 30px auto;
    background-position: 40% 6px, 40% 55px;
    color: #962006 !important;
}
