.breadcrumbsh2 {
  margin: 1em 0 0;
}

.breadcrumbs {  
  font: 400 normal 0.8em/1.4em 'Capitaine', serif;
}

  .breadcrumbs > * {
    color: #4c4c4c;
    transition: all 0.2s;
  }

  .breadcrumbs a {
    color: #8c8c8c;
  }

    .breadcrumbs a:hover {
      color: #4c4c4c;
    }

  .breadcrumbs > *:after {
    display: inline-block;
    margin: 0 7px;
    content: "/";
  }

  .breadcrumbs > *:last-child:after {
    display: none;
  }


@media screen
  and (min-width: 960px) {

    /* if more than 2 or 3 children, decrease font size */

    .breadcrumbs {
      font-size: 1em;
    }

    .breadcrumbs:has(> :nth-child(3)) {
      font-size: 0.8em;
    }

  }