.tooltip-container {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted rgba(0,0,0,0.4);
  }
  
  .tooltip-container:hover .tooltip-text {
    visibility: visible;
  }
  
  .tooltip-text {
    width: 120px;
    margin-left: -60px;
    visibility: hidden;
    background-color: rgba(0,0,0,0.9);
    color: #fff;
    font: 400 normal 14px/1.3em 'Ivar Text', serif;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
  }
  
  .tooltip-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
  